.loader-container {
    height: 90vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

.loader {
    border: .5rem solid rgb(226, 225, 225);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #060e41;

    animation: spin 1s linear infinite;

}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}